* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-image: url(img/6.jpg);
    background-size: cover;
    padding: 40px;
}
.content-page {
    display: flex;
    flex-direction: column;
    width: 1800px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.headers {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-image: url(img/fondopapel.jpg);
}
.logo {
    width: 100%;
    height: 100%;
}
.logo button {
    background: none;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.logo img {
    width: 100%;
    height: 100%;
}
.header-izquierda {
    display: flex;
    background-image: url(img/fondoblanco.jpg);
    background-size: cover;
    width: 20%;
    height: 100%;
}
.header-derecha {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
    padding: 70px;
}
.redes {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-around;
}
.redes img {
    width: 100%;
    height: 100%;
}
.redes button {
    background: none;
    cursor: pointer;
    border: 0;
    margin: 3px;
}
.barra {
    width: 100%;
    height: 10%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    background-color: rgb(0, 0, 0);
}
.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.texto {
    width: 100%;
    height: 100%;
}
.texto input {
    background-color: black;
    width: 100%;
    height: 100%;
    border: none;
}
.lupa button {
    cursor: pointer;
    background-color: black;
}
.lupa {
    width: 20%;
}
.lupa img {
    width: 100%;
    height: 100%;
    background-color: red;
}
.titulo {
    width: 50%;
    height: 100%;
}
.titulo img {
    width: 100%;
    height: 100%;
}
nav {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-image: url(img/fondopapel.jpg);
    background-size: cover;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 50px;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}
.menu-horizontal > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    width: 100%;
}
.menu-horizontal > li:hover {
    background-color: rgb(39, 39, 39);
    width: 1fr;
}
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 1fr;
    background-color: black
}
.menu-horizontal li:hover .menu-vertical {
    display: block;
}
.menu-vertical li:hover {
    background-color: rgba(255, 0, 0, 0.5);
}
.menu-vertical li > a {
    display: flex;
    color: antiquewhite;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
}
.section {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}
.section h3 {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.section p {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.espacio {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(7,1fr);
    padding: 10px;
    gap: 10px;
    width: 60%;
    background-image: url(img/fondopapel.jpg);
    background-size: cover;
}
.espacio img {
    display: grid;
    width: 100%;
    height: 100%;
}
.espacio-izquierda {
    display: grid;
    grid-column: 1/6;
    grid-row: 1/9;
}
.espacio-izquierda img {
    width: 100%;
    height: 100%;
}
.espacio-derecha-arriba {
    display: grid;
    grid-column: 6/11;
    grid-row: 1/4;
}
.espacio-derecha-abajo {
    display: grid;
    grid-column: 6/11;
    grid-row:4/9;
}
.contenedor-reglas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/pergamino.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
}
.reglas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.reglas p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    color: rgb(2, 1, 1);
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 250%;
}
.reglas h3 {
    display: flex;
    justify-content: center;
    color: rgb(129, 48, 48);
    width: 100%;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 300%;
}
.reglas li {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 150%;
}
.contenedor-reglas h2{
    display: flex;
    background-image: url(img/fondopapel.jpg);
    color: antiquewhite;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.regla-1 {
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
}
.regla-1 img {
    width: 50%;
    height: auto;
}
.regla-2 {
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
}
.regla-2 img {
    width: 50%;
    height: auto;
}
.regla-3 {
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 60%;
}
.regla-3 img {
    width: 50%;
    height: auto;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
}
.menu h2 {
    display: flex;
    background-image: url(img/fondopapel.jpg);
    color: antiquewhite;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.menu img {
    width: 100%;
    height: 100%;
}
.galeria-clases {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 40px;
}
.encabezado-galeria {
    display: flex;
    background-image: url(img/fondopapel.jpg);
    color: antiquewhite;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
}
.encabezado-galeria h1 {
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.clases {
    display: grid;
    width: 70%;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 10px;
}
.clases img {
    width: 100%;
    height: 100%;
}
.tarjeta {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    flex-direction: column;
}
.tarjeta p {
    display: flex;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 13px;
    background-image: url(img/fondopapel.jpg);
    background-size: cover;
    padding: 5px;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0px;
}
.build {    
    display: flex;
    flex-direction: column;
    background-image: url(img/fondopared.jpg);
    background-size: cover;
    border-radius: 20px;
    color: antiquewhite;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 3px;
}
.empleada-mes {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
}
.empleada-mes img {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.empleada-mes h2{
    display: flex;
    background-image: url(img/fondopapel.jpg);
    color: antiquewhite;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    }
.bodega {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url(img/6.jpg);
    background-size: cover;
}
.titulo-bodega {
    width: 100%; 
}
.titulo-bodega h2 {
    display: flex;
    background-image: url(img/fondopapel.jpg);
    color: antiquewhite;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: "Teko", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}
.titulo-bodega p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: antiquewhite;
}
.bodega-links {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 80%;
    color: antiquewhite;
}
.bodega-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: antiquewhite;
    background-image: url(img/fondopared.jpg);
    width: auto;
    text-transform: uppercase;
}
.link1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.link1 img {
    width: 100%;
    height: 100%;
    border: solid;
}
.link2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.link2 img {
    width: 100%;
    height: 100%;
    border: solid;
}
.link3 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.link3 img{
    width: 100%;
    height: 100%;
    border: solid;
}
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 47, 47);
    width: 100%;
}
@media (max-width: 425px) {

    body {
        background-image: url(img/4006.jpg);
        background-size: cover;
        width: 425px;
        padding: 0%;
    }
    .content-page {
        width: 100%;
        margin: auto;
    }
    .headers {
        width: 100%;
        height: 100px;
    }
    .header-derecha {
        display: none;
    }
    .titulo {
        width: 80%;
    }
    nav {
        width: 90%;
        border-radius: 0;
    }
    .espacio {
        width: 90%;
    }
    .section {
        width: 90%;
        padding: 0;
        margin-top: 10px;
    }
    .section p {
        font-size: 10px;
    }
    .contenedor-reglas {
        width: 100%;
        height: 800px;
        padding-top: 15px;
        margin: 0%;
    }
    .contenedor-reglas p {
        font-size: 10px;
    }
    .reglas {
        width: 100%;
        height: 100%;
        font-size: 5px;
        margin-top: 80px;
    }
    .reglas h2 {
        margin: 0%;
        border-radius: 0;
    }
    .menu {
        width: 90%;
    }
    .menu h2 {
        border-radius: 0;
    }
    .galeria-clases {
        width: 100%;
    }
    .encabezado-galeria {
        width: 90%;
        border-radius: 0;
    }
    .tarjeta {
        width: 100%;
    }
    .build {
        font-size: 10px;
    }
    .clases {
        width: 95%;
    }
    .clases p {
        font-size: 7px;
    }
    .empleada-mes {
        width: 90%;
    }
    .empleada-mes h2 {
        border-radius: 0;
        width: 100%;
    }
    .empleada-mes img {
        width: 80%;
        padding: 0;
    }
    .bodega {
        width: 90%;
        padding: 0%;
    }
    .bodega h2 {
        padding: 0%;
        margin: 0%;
        border-radius: 0;
    }
    .bodega-links {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}